.graph-wrapper{
    display: flex;
    flex-direction: column;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 10px;

}

.graph-wrapper > h2{
    margin-left: 15px;
    margin-right: 15px;
}

/* new import font goes here */
.graph-wrapper > p{
    margin-left: 20px;
    margin-right: 20px;
    font-family:Arial, Helvetica, sans-serif
}


.graph-box{
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    width: 80%;
    align-self: center;
    align-content: center;
    margin: 30px;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.592));
}

