  .stats-box-main {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    padding: 50px;
  }
  
  .stats-box-sub {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background-color: #f1f1f1;
    padding: 30px;
    flex: 100%;
}
  
  .fave-list {
    background-color: rgb(243, 246, 249);
    padding: 40px;
    flex: 30%;
  }

.profile-title {
    padding-top: 40px;
    padding-left: 60px;
}
.profile-sub {
    padding-left: 60px;
}


/* @media (max-width: 800px) {
    .stats-box-main {
      flex-direction: column;
    }
  } */

/* .chart2 {
    size-adjust: 70%;
} */