.header-container {
    position: relative;
}

.header-image>img{
    width: calc(100% - 10px);
    margin-left: 5px;
    height: 600px;
}

/* drop-shadow(offset-x offset-y blur-radius color) */
.article-header{
    font-family:'Staatliches', cursive;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 5rem;
    filter: drop-shadow(2px 3px 2px white);
}

/* Placeholder font- it needs to be bolder */
.article-body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-style: bold;
    padding-left: 5%;
    padding-right: 5%;
}

.article-image>img{
    float: left;
    padding-right: 15px;
    padding-left: 10px;
    width: 400px;
    height: 400px;
    filter: drop-shadow(2px 3px 2px black);
}

.button-box{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 1%;


}

.user-button{
    height: 40px;
    width: 40px;
    text-align: center;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.735));
    background-color: rgba(0, 0, 0, 0.335);
    border-style: none;
    box-shadow: none;
    font-size: 30px;
    color: rgb(216, 216, 216);
    border-radius: 100%;
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

.user-button:hover{
    background-color: rgb(205, 207, 193);
    color: black;
}
.user-button:active{
    color: rgb(0, 0, 0);
    background-color: rgb(144, 212, 146);
}

