.card{
    font-family: 'Staatliches', cursive;
    font-size:large;
    display:flex;
  }

.Topic-Header-Image>img{
  width: 300px;
  height: 300px;
  transition: 0.3s;
  justify-content: center;
  padding-left: 90%;
} 

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}