.card{
    font-family: 'Staatliches', cursive;
    font-size:large;
    display:flex;
    justify-content: center;
    text-align: center;
  }

.Topic-Header-Image>img{
  width: 700px;
  height: 350px;
  display:flex;
  padding-bottom: 5%;
  padding-right: 30%;
} 

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
