/* .site-footer {
    /* display: flex;
    position: sticky;
    max-height: 5%; */
    
    /* padding: 10px; 
    max-height:4vh;
    min-height:4vh; */
    
    
    /* position: fixed;
    min-width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    
    
    
    .repo-link {
        text-decoration: none;
        color: white;
        
    }
    
    a {
        color: black;
    }

main {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;    /* Footer height */
}

.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 3.5rem;   
}

.site-footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    display: flex;
    padding-bottom: 20px;
    justify-content: space-around;
    text-align:center;
    display:flex;
    flex-direction:row;
    margin-top: 1vh;

  }