.site-footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    /* padding: 10px; */


}

.repo-link {
    text-decoration: none;
    color: white;

}

/** ALT 

/* .site-footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: right;

} */